name: Deploy Next.js App (Self-Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t my-next-app .

      - name: Deploy Docker Container
        run: |

          docker run -d -p 80:3000 --name my-next-app-container my-next-app
