name:  App with PM2

on:
  push:
    branches:
      - main

jobs:
  deploy:

    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js

        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build Next.js App
        run: pnpm run build

      - name: Start or Reload App with PM2

        run: |
          pm2 start "pnpm start" --name "my-next-app" || pm2 reload "my-next-app"
